@import url('droid/font-face.css');

body {
  font-family: 'Droid Serif', Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', Helvetica, sans-serif;
}

code, pre, tt {
  font-family: 'Droid Mono', monospace;
}

html {
  height: 100%;
}

#splash {
  background: transparent url('../images/bird-and-hands.png') no-repeat 55% 48%;
}

#splash h1 {
  position: absolute;
  top: 53%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  font-size: 14pt;
  text-transform: lowercase;
  text-shadow: 0px 0px 5px #666;
}

#github_ribbon {
  position: absolute;
  top: 0;
  right: 0;
}

#github_ribbon a {
  display: block;
  height: 149px;
  width: 149px;
  background-image: url(http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png);
  text-indent: -5000px;
}