@import url('droid.css');

body {
  font-family: 'Droid Serif', Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', Helvetica, sans-serif;
}

code, pre, tt {
  font-family: 'Droid Mono', monospace;
}

h1 {
  background: transparent url('../images/bird-and-hands.png') no-repeat center right;
  height: 200px
}
